h3 Vacations

.row
  .col-xs-4
    form(name='vacationForm', novalidate)
      .form-group
        label(for='title') Title
        input.form-control(type='text', name='title', ng-minLength='8', ng-model='vacation.title', required)
        div(ng-if='vacationForm.title.$dirty' ng-messages='vacationForm.title.$error', ng-messages-include='/views/partials/form_validation_messages.html')
      .form-group
        label(for='departureDate') Departure Date
        input.form-control(type='date', name='departureDate', ng-model='vacation.departureDate', required)
      .form-group
        label(for='arrivalDate') Arrival Date
        input.form-control(type='date', name='arrivalDate', ng-model='vacation.arrivalDate', required)
      .form-group
        label(for='departureAirport') Departure Airport
        input.form-control(type='text', name='departureAirport', ng-model='vacation.departureAirport', required)
      .form-group
        label(for='arrivalAirport') Departure Airport
        input.form-control(type='text', name='arrivalAirport', ng-model='vacation.arrivalAirport', required)
      .form-group
        button.btn.btn-default(ng-if='vacationForm.$valid', type='submit', ng-click='submit("vacation")') Submit
  .col-xs-8
