h3 Vacations Show Page


table.table.table-striped.table-hover
    thead
      tr
        th Title
        th Departure Date
        th Arrival Date
        th Departure Airport
        th Arrival Airport
    tbody
      tr
        td {{vacation.title}}
        td {{vacation.departureDate}}
        td {{vacation.arrivalDate}}
        td {{vacation.departureAirport}}
        td {{vacation.arrivalAirport}}
          
