h3 Vacations Show Page

h1 this is my stripe directive
div(tj-stripe)

button.btn.btn-default(ng-click='findFlights(vacation)') Find Flights

table.table.table-striped.table-hover
    thead
      tr
        th Title
        th Departure Date
        th Arrival Date
        th Departure Airport
        th Arrival Airport
    tbody
      tr
        td {{vacation.title}}
        td {{vacation.departureDate | date}}
        td {{vacation.arrivalDate | date}}
        td {{vacation.departureAirport}}
        td {{vacation.arrivalAirport}}
.row
  .col-xs-12(ng-repeat='flight in flights')
    h3 Arrival 
    table.table.table-striped.table-hover
        thead
          tr
            th Flight Number
            th Fligt Length
            th From
            th To
            th Departure Time 
            th Arrival Time
        tbody(ng-repeat='arrival in flight.AirItinerary.OriginDestinationOptions.OriginDestinationOption[0].FlightSegment')
          tr
            td {{arrival.FlightNumber}}
            td {{arrival.ElapsedTime}}
            td {{arrival.ArrivalAirport.LocationCode}}
            td {{arrival.DepartureAirport.LocationCode}}
            td {{arrival.DepartureDateTime | date: 'h:mma'}}
            td {{arrival.ArrivalDateTime | date: 'h:mma'}}
        
    h3 Departure 
    table.table.table-striped.table-hover
        thead
          tr
            th Flight Number
            th Fligt Length
            th From
            th To
            th Departure Time 
            th Arrival Time
        tbody(ng-repeat='departure in flight.AirItinerary.OriginDestinationOptions.OriginDestinationOption[1].FlightSegment')
          tr
            td {{departure.FlightNumber}}
            td {{departure.ElapsedTime}}
            td {{departure.ArrivalAirport.LocationCode}}
            td {{departure.DepartureAirport.LocationCode}}
            td {{departure.DepartureDateTime | date: 'h:mma'}}
            td {{departure.ArrivalDateTime | date: 'h:mma'}}
    button.btn.btn-default(ng-click='purchase(flight)') Purchase
    h4 Price
    h5 Base: {{flight.AirItineraryPricingInfo.PTC_FareBreakdowns.PTC_FareBreakdown.PassengerFare.BaseFare.Amount}}
    h5 Taxes: {{flight.AirItineraryPricingInfo.PTC_FareBreakdowns.PTC_FareBreakdown.PassengerFare.Taxes.TotalTax.Amount}}
    h5 Total: {{flight.AirItineraryPricingInfo.PTC_FareBreakdowns.PTC_FareBreakdown.PassengerFare.TotalFare.Amount}}
    
