div(ng-message='required') Field is Required
div(ng-message='minlength') Text is too short
div(ng-message='maxlength') Text is too long
div(ng-message='email') Not an email address
div(ng-message='date') Not a valid date
